
.info {
font-size: 15px;
background:rgba(255,255,255,0.7);;
border: 1px solid #ddd;
overflow: hidden;
min-width: 340px;
max-width: 640px;	

}
.wrap3 { border: 1px solid #000; margin: 4px;}
.common_btn {
width: 100%;
display: block;
text-align: center;
margin: 5px 0;
height: 40px;
line-height: 40px;
border: 1px solid #ddd;
background-color:rgb(153,27,28);
background-image: linear-gradient(to bottom,rgb(153,27,28),rgb(153,27,28));
border-radius: 5px;
color: #fff;
font-size: 16px;
cursor: pointer;
}
.common_btn2 {
width: 100%;
display: block;
text-align: center;
margin: 5px 0;
height: 40px;
line-height: 40px;
border: 1px solid #ddd;
background-color: rgb(153,27,28);
background-image: linear-gradient(to bottom,rgb(153,27,28),rgb(153,27,28));
border-radius: 5px;
color: #fff;
font-size: 16px;
cursor: pointer;
}
.matchItem{background:#000000;
	height:55px;border-bottom:1px dashed #ffffff;
width:100%;margin:0 auto;color:#4F4F4F;font-weight:700;font-size:0.9em;
-webkit-border-radius:2%;-moz-border-radius:2%;border-radius:2%;
}
.dapei_block{
	width:96%;
	margin:0 auto;
	/*background: #EEFF99;behavior: url(/PIE.htc);*/
}
/**2014-5-29分享**/
.user-img{width:50px;height:50px;border-radius:50%;overflow:hidden;}
.user-name-time{margin-left:10px;}
.cl{clear:both;}
.fl{float:left;}
.u-name{color:#ffffff;font-size:16px;}
.u-time{font-size:12px;color:#cccccc}
.u-content{margin-left:10px;}
.shake-img{position:relative;width:100%;margin-bottom:5px;}
.shake-comments{position:absolute;bottom:0;width:100%;height:35px;background:rgba(0,0,0,0.5);}
.shake-pic{width:100%;height:382px;background:url(../images/load2.gif) no-repeat 50% 50%}
.shake-comments ul li{padding-top:7px;height:28px;line-height:28px;float:left;display:inline;color:#ffffff;width:25%;text-align:center}
.shake-comments ul li img{cursor:pointer}
.shake-comments ul li span{font-size:12px;}
.b30{height:20px;padding:5px 0;font-weight:bold;margin-bottom:5px;}
.c_white{color:#ffffff;}
.c_red{color:#ff0000}
.matchItem ul li.f_r{float:right;margin-right:20px;}
.share-open{display:none;}
.more{float:right;padding-right:23px;margin-right:35px;cursor:pointer;background:url(images/down.png) no-repeat 33px 5px}
.matchItem ul li{margin-right:15px;float:left;display:inline;height:55px;line-height:55px;}
.b30 .m-down{background:url(images/up.png) no-repeat 33px 5px}
.z-num,.s-num,.p-num,.sh-num{position:relative;top:-5px}



